.cont {
    width: 38rem; 
    min-height: 14rem;
    max-height: auto;
    margin-bottom: 0;
}

.vh {
    min-height: 90.4vh;
    max-height: auto;
}

.author {
    float: right;
}

.empty {
    display: flex;
    width: 100%;
    margin: 20px;
}

.pa-right {
    padding-right: 12px;
}